/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9; /* Hintergrundfarbe geändert */
    color: #333;
    padding: 20px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    animation: fadeIn 0.5s; /* Add fade-in animation */
}

.modal-content {
    margin: auto;
    display: block;
    width: 60%; /* Reduced width */
    max-width: 500px; /* Reduced max-width */
    animation: zoomIn 0.5s; /* Add zoom-in animation */
}

.close {
    position: absolute;
    top: 15px;
    left: 35px; /* Changed from right to left */
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Zoom-in animation */
@keyframes zoomIn {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}

/* Main Content */
#main-content {
    margin-bottom: 20px;
    text-align: center;
}

#main-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    text-decoration: none; /* Text nicht unterstrichen */
    color: inherit; /* Textfarbe erben */
}

.product a {
    text-decoration: none; /* Text nicht unterstrichen */
    color: inherit; /* Textfarbe erben */
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product .image-container {
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 10px;
}

.product img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    border-radius: 8px;
}

.product h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.product p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #666;
}

.add-to-cart {
    background-color: #78A1BB; /* Button-Farbe geändert */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #2C3E50; /* Hover-Farbe geändert */
}

/* Cart Icon */
#cart-icon {
    font-size: 2.5em;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    color: #78A1BB; /* Warenkorb-Symbol-Farbe geändert */
    transition: color 0.3s ease;
}

#cart-icon:hover {
    color: #2C3E50; /* Hover-Farbe geändert */
}

/* Cart Notification */
#cart-notification {
    position: fixed;
    top: 20px;
    right: 80px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    display: none;
    z-index: 1000;
}

/* Cart */
#cart {
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    transition: right 0.3s ease;
    overflow-y: auto;
}

#cart.open {
    right: 0;
}

#cart h2 {
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 500;
}

#cart-items li {
    margin: 15px 0;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

#cart-items button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#cart-items button:hover {
    background-color: #c82333;
}

#cart-total {
    font-weight: bold;
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
}

#checkout-button {
    background-color: #78A1BB; /* Button-Farbe geändert */
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#checkout-button:hover {
    background-color: #2C3E50; /* Hover-Farbe geändert */
}

/* Impressum */
#impressum {
    padding: 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    text-align: center; /* Zentriert den Text */
}

/* Payment Instructions */
#payment-instructions {
    margin-top: 20px;
}

#payment-instructions h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#payment-instructions ol {
    padding-left: 20px;
}

#payment-instructions li {
    margin-bottom: 10px;
}

#payment-instructions strong {
    display: block;
    margin-bottom: 10px;
}

#payment-instructions iframe {
    width: 100%;
    height: 480px;
    border: none;
    margin-top: 10px;
}